/* styles.css */
@keyframes scrollBooks {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  animation: scrollBooks 30s linear infinite;
  /* Adjust the timing to make the animation slower or faster */
}

.book-img {
  width: 150px; /* Adjust size as necessary */
  height: 200px; /* Adjust size as necessary */
  object-fit: contain;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.book-img:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
